* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.centered-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;

  margin-bottom: 30px;
}

h1 {
  color: #e53170;

  padding: 40px 0;
}


/* main cards */
#cards {
  color: white;
}

#cards .col {
  width: 33%;
  min-width: 317px;

  float: left;

  padding: 16px 10px;

  /* border: 1px solid black; */
  /* background-color: #ff000020; */
}

#cards .card {
  background-color: #0f0e17;
}

#cards .card img {
  height: 100px;

  float: left;
}

/* cards details */
#cards .card-details {
  float: left;

  padding-left: 1em;
  padding-top: 8px;
}

#cards .card-details ul {
  list-style-type: none;
}

#cards .card-details ul li {
  margin-bottom: 8px;
}

#cards .card-details .card-details__name {
  text-transform: uppercase;
}

#cards .card-details .card-details__email a {
  color: #47bce8;
}