* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}


.centered-section {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  color: #e53170;

  padding: 40px 0;
}

